.wrapper {
  display: flex;
  flex-direction: column;

  align-items: center;

  padding-top: 72px;
}

.card {
  border-radius: 8px;
  box-shadow: var(--shadow-elevation-high);

  display: flex;
  flex-direction: column;

  padding: 32px;

  gap: 16px;
}

.buttonGroup {
  display: flex;
  flex-direction: column;

  align-items: center;
  gap: 16px;
}
