.solutionSection {
  padding-top: 32px;
  padding-bottom: 32px;
}
@media (max-width: 37.5rem) {
  .solutionSection {
    padding-bottom: 16px;
  }
}

.columnLayoutWrapper {
  display: flex;
  flex-direction: row;
}

.column {
  flex: 1;
  position: relative;
}

.textColumn {
  min-width: 21.25rem;
}
@media (max-width: 37.5rem) {
  .textColumn {
    min-width: 18rem;
  }
}

.imageColumn {
  flex: 1.5;
}
@media (max-width: 25rem) {
  .imageColumn {
    display: none;
  }
}

.solutionHeader {
  text-align: right;
  min-width: 11ch;
}
