.wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px 4px;
}

.heading {
  font-size: var(--font-size-important-body);
  font-weight: normal;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.posterDesignImage {
  display: block;
  width: 176px;
  height: 249px;
  object-fit: cover;
}
