.wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px 4px;
}

.heading {
  font-size: var(--font-size-important-body);
  font-weight: normal;
}

.posterDesignsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, 176px);
  justify-items: left;
  gap: 24px;
}

.posterDesignImage {
  display: block;
  width: 176px;
  height: 249px;
  object-fit: cover;
  will-change: transform;
  border-radius: 16px;
}
