.filled {
  background-color: var(--color-green-900);
  border-color: var(--color-green-900);
  color: white;
  font-family: var(--font-bungee), sans-serif;
}

.transparent {
  background-color: transparent;
  border-color: transparent;
  color: var(--color-green-950);
}

.outline {
  background-color: transparent;
  color: white;
  border: solid 2px var(--color-orange-200);
}

.filledWithOutline {
  background-color: var(--color-green-900);
  border-color: var(--color-green-900);
  color: white;
  font-family: var(--font-bungee), sans-serif;

  outline: var(--color-green-900) 4px solid;
  outline-offset: 8px;

  transition: outline-offset 0.1s ease-in-out;

  margin: 0 12px;
}
.filledWithOutline:hover {
  outline-offset: 4px;
}
