.dialogOverlay {
  background-color: color-mix(in srgb, var(--color-green-950) 30%, transparent);;
  position: fixed;
  inset: 0;
  z-index: 200;
  animation: overlayShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
}

.dialogContent {
  background-color: white;
  border-radius: 8px;
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translate(-50%, 0);
  width: 90vw;
  max-width: 500px;
  max-height: 85vh;
  padding: 25px;
  z-index: 201;

  animation: contentShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
}


@keyframes overlayShow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes contentShow {
  from {
    opacity: 0;
    transform: translate(-50%, -2%) scale(0.96);
  }
  to {
    opacity: 1;
    transform: translate(-50%, 0) scale(1);
  }
}
