/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
*:not(dialog) {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Increase line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input, textarea, select {
  font: inherit;
}

/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

:root{
  --color-green-50-fragment: 138.46 76.51% 96.68%;
  --color-green-50: hsl(var(--color-green-50-fragment));
  --color-green-50: oklch(98.2% 0.018 155.826);

  --color-green-100-fragment: 140.65 84.38% 92.45%;
  --color-green-100: hsl(var(--color-green-100-fragment));
  --color-green-100: oklch(96.2% 0.044 156.743);

  --color-green-200-fragment: 141.14 81.07% 84.82%;
  --color-green-200: hsl(var(--color-green-200-fragment));
  --color-green-200: oklch(92.5% 0.084 155.995);

  --color-green-300-fragment: 142.66 81.25% 71.39%;
  --color-green-300: hsl(var(--color-green-300-fragment));
  --color-green-300: oklch(87.1% 0.15 154.449);

  --color-green-400-fragment: 150.06 95.56% 44.76%;
  --color-green-400: hsl(var(--color-green-400-fragment));
  --color-green-400: oklch(79.2% 0.209 151.711);

  --color-green-500-fragment: 144.06 100% 39.36%;
  --color-green-500: hsl(var(--color-green-500-fragment));
  --color-green-500: oklch(72.3% 0.219 149.579);

  --color-green-600-fragment: 142.29 100% 32.57%;
  --color-green-600: hsl(var(--color-green-600-fragment));
  --color-green-600: oklch(62.7% 0.194 149.214);

  --color-green-700-fragment: 144.68 100% 25.50%;
  --color-green-700: hsl(var(--color-green-700-fragment));
  --color-green-700: oklch(52.7% 0.154 150.069);

  --color-green-800-fragment: 147.72 97.15% 20.36%;
  --color-green-800: hsl(var(--color-green-800-fragment));
  --color-green-800: oklch(44.8% 0.119 151.328);

  --color-green-900-fragment: 145.73 73.08% 18.99%;
  --color-green-900: hsl(var(--color-green-900-fragment));
  --color-green-900: oklch(39.3% 0.095 152.535);

  --color-green-950-fragment: 145.39 87.57% 9.65%;
  --color-green-950: hsl(var(--color-green-950-fragment));
  --color-green-950: oklch(26.6% 0.065 152.934);

  --color-yellow-50-fragment: 54.55 90.61% 95.28%;
  --color-yellow-50: hsl(var(--color-yellow-50-fragment));
  --color-yellow-50: oklch(98.7% 0.026 102.212);

  --color-yellow-100-fragment: 54.89 97.52% 87.84%;
  --color-yellow-100: hsl(var(--color-yellow-100-fragment));
  --color-yellow-100: oklch(97.3% 0.071 103.193);

  --color-yellow-200-fragment: 52.74 99.45% 76.08%;
  --color-yellow-200: hsl(var(--color-yellow-200-fragment));
  --color-yellow-200: oklch(94.5% 0.129 101.54);

  --color-yellow-300-fragment: 51.51 100% 56.29%;
  --color-yellow-300: hsl(var(--color-yellow-300-fragment));
  --color-yellow-300: oklch(90.5% 0.182 98.111);

  --color-yellow-400-fragment: 47.25 100% 49.65%;
  --color-yellow-400: hsl(var(--color-yellow-400-fragment));
  --color-yellow-400: oklch(85.2% 0.199 91.936);

  --color-yellow-500-fragment: 44.17 100% 47.07%;
  --color-yellow-500: hsl(var(--color-yellow-500-fragment));
  --color-yellow-500: oklch(79.5% 0.184 86.047);

  --color-yellow-600-fragment: 38.87 100% 40.88%;
  --color-yellow-600: hsl(var(--color-yellow-600-fragment));
  --color-yellow-600: oklch(68.1% 0.162 75.834);

  --color-yellow-700-fragment: 34.39 100% 32.55%;
  --color-yellow-700: hsl(var(--color-yellow-700-fragment));
  --color-yellow-700: oklch(55.4% 0.135 66.442);

  --color-yellow-800-fragment: 32.77 100% 26.80%;
  --color-yellow-800: hsl(var(--color-yellow-800-fragment));
  --color-yellow-800: oklch(47.6% 0.114 61.907);

  --color-yellow-900-fragment: 29.52 83.35% 24.57%;
  --color-yellow-900: hsl(var(--color-yellow-900-fragment));
  --color-yellow-900: oklch(42.1% 0.095 57.708);

  --color-yellow-950-fragment: 26.16 87.52% 13.96%;
  --color-yellow-950: hsl(var(--color-yellow-950-fragment));
  --color-yellow-950: oklch(28.6% 0.066 53.813);

  --color-blue-50-fragment: 213.75 96.49% 96.79%;
  --color-blue-50: hsl(var(--color-blue-50-fragment));
  --color-blue-50: oklch(97% 0.014 254.604);

  --color-blue-100-fragment: 214.28 96.22% 92.78%;
  --color-blue-100: hsl(var(--color-blue-100-fragment));
  --color-blue-100: oklch(93.2% 0.032 255.585);

  --color-blue-200-fragment: 213.33 100% 87.28%;
  --color-blue-200: hsl(var(--color-blue-200-fragment));
  --color-blue-200: oklch(88.2% 0.059 254.128);

  --color-blue-300-fragment: 213.33 100% 87.28%;
  --color-blue-300: hsl(var(--color-blue-300-fragment));
  --color-blue-300: oklch(80.9% 0.105 251.813);

  --color-blue-400-fragment: 212.79 100% 66.84%;
  --color-blue-400: hsl(var(--color-blue-400-fragment));
  --color-blue-400: oklch(70.7% 0.165 254.624);

  --color-blue-500-fragment: 216.89 100% 59.61%;
  --color-blue-500: hsl(var(--color-blue-500-fragment));
  --color-blue-500: oklch(62.3% 0.214 259.815);

  --color-blue-600-fragment: 221.34 97.06% 53.5%;
  --color-blue-600: hsl(var(--color-blue-600-fragment));
  --color-blue-600: oklch(54.6% 0.245 262.881);

  --color-blue-700-fragment: 225.35 84.1% 48.98%;
  --color-blue-700: hsl(var(--color-blue-700-fragment));
  --color-blue-700: oklch(48.8% 0.243 264.376);

  --color-blue-800-fragment: 227.1 75.74% 41.14%;
  --color-blue-800: hsl(var(--color-blue-800-fragment));
  --color-blue-800: oklch(42.4% 0.199 265.638);

  --color-blue-900-fragment: 224.86 67.28% 33.33%;
  --color-blue-900: hsl(var(--color-blue-900-fragment));
  --color-blue-900: oklch(37.9% 0.146 265.522);

  --color-blue-950-fragment: 226.51 58.74% 21.15%;
  --color-blue-950: hsl(var(--color-blue-950-fragment));
  --color-blue-950: oklch(28.2% 0.091 267.935);

  --color-orange-50-fragment: 33.33 100% 96.51%;
  --color-orange-50: hsl(var(--color-orange-50-fragment));
  --color-orange-50: oklch(98% 0.016 73.684);

  --color-orange-100-fragment: 34.29 100% 91.68%;
  --color-orange-100: hsl(var(--color-orange-100-fragment));
  --color-orange-100: oklch(95.4% 0.038 75.164);

  --color-orange-200-fragment: 32.18 100% 82.86%;
  --color-orange-200: hsl(var(--color-orange-200-fragment));
  --color-orange-200: oklch(90.1% 0.076 70.697);

  --color-orange-300-fragment: 30.98 100% 71.25%;
  --color-orange-300: hsl(var(--color-orange-300-fragment));
  --color-orange-300: oklch(83.7% 0.128 66.29);

  --color-orange-400-fragment: 31.43 100% 51.32%;
  --color-orange-400: hsl(var(--color-orange-400-fragment));
  --color-orange-400: oklch(75% 0.183 55.934);

  --color-orange-500-fragment: 29.2 100% 42.64%;
  --color-orange-500: hsl(var(--color-orange-500-fragment));
  --color-orange-500: oklch(70.5% 0.213 47.604);

  --color-orange-600-fragment: 23.81 100% 40.32%;
  --color-orange-600: hsl(var(--color-orange-600-fragment));
  --color-orange-600: oklch(64.6% 0.222 41.116);

  --color-orange-700-fragment: 20.51 100% 34.78%;
  --color-orange-700: hsl(var(--color-orange-700-fragment));
  --color-orange-700: oklch(55.3% 0.195 38.402);

  --color-orange-800-fragment: 17.27 100% 31.01%;
  --color-orange-800: hsl(var(--color-orange-800-fragment));
  --color-orange-800: oklch(47% 0.157 37.304);

  --color-orange-900-fragment: 15.99 83.12% 27.04%;
  --color-orange-900: hsl(var(--color-orange-900-fragment));
  --color-orange-900: oklch(40.8% 0.123 38.172);

  --color-orange-950-fragment: 12.88 84.81% 14.42%;
  --color-orange-950: hsl(var(--color-orange-950-fragment));
  --color-orange-950: oklch(26.6% 0.079 36.259);

  --transparent: 70%;

  --color-orange-200-transparent: hsl(32.18, 100%, 82.86%, var(--transparent));
  --color-orange-200-transparent: oklch(90.1% 0.076 70.697 / var(--transparent));

  --color-orange-300-transparent: hsl(30.98, 100%, 71.25%, var(--transparent));
  --color-orange-300-transparent: oklch(83.7% 0.128 66.29 / var(--transparent));


  --spacing-0: 0px;
  --spacing-1: 4px;
  --spacing-2: 8px;
  --spacing-3: 12px;
  --spacing-4: 16px;
  --spacing-5: 20px;
  --spacing-6: 24px;
  --spacing-7: 28px;
  --spacing-8: 32px;
  --spacing-9: 36px;
  --spacing-10: 40px;
  --spacing-12: 48px;
  --spacing-14: 56px;
  --spacing-16: 64px;
  --spacing-20: 80px;
  --spacing-24: 96px;

  --font-dm-sans: sans-serif;
  --font-sora: sans-serif;
}