.newDesignButton {
  width: 176px;
  height: 249px;
}

.form {
  display: contents;
}

.canvas {
  max-width: 100%;
  max-height: 40vh;
  object-fit: contain;
}

.submitButtonWrapper {
  align-self: flex-start;
}
