.boopWrapper {
  display: contents;
}

.campaign {
  padding: 16px 28px 16px 16px;
  border: dashed 4px var(--color-green-800);
  border-radius: 16px;
  text-decoration: none;
  min-height: 128px;
  background-color: transparent;
  transition: background-color 0.2s ease;

  display: flex;
  flex-direction: row-reverse;

  overflow: clip;

  position: relative;
}

.posterDesignImage {
  position: absolute;
  top: 50%;
  left: 25%;
  translate: -50% -50%;
}

.posterDesignImageWrapper {
  position: relative;
  isolation: isolate;
  min-width: 150px;
}

.posterDesignImageWrapperCount1 {
  .posterDesignImage:nth-child(1) {
    rotate: -8deg;
  }
}

.posterDesignImageWrapperCount2 {
  .posterDesignImage:nth-child(1) {
    rotate: 12deg;
  }
  .posterDesignImage:nth-child(2) {
    rotate: -12deg;
  }
}

.posterDesignImageWrapperCount3 {
  .posterDesignImage:nth-child(1) {
    rotate: 12deg;
  }
  .posterDesignImage:nth-child(2) {
    rotate: -4deg;
  }
  .posterDesignImage:nth-child(3) {
    rotate: -16deg;
  }
}

.campaign:hover {
  background-color: color-mix(in srgb, var(--color-green-800) 10%, transparent);
}

.cardTitle {
  font-family: var(--font-bungee), sans-serif;
  font-size: var(--font-size-important-body);
  color: var(--color-green-950);
  flex: 1;
  text-align: right;
}

.plusSymbol {
  position: absolute;
  top: 0;
  right: 0;
}
