.wrapper {
  padding: 16px 0;
}

.problemCardGroup {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 16px;
  row-gap: 16px;
  align-items: stretch;
  padding: 16px 0 0;
}
